.user-profie {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #4B5563; 
    min-height: 100vh; 
    padding: 0 1rem;
    width: 50vw; 
}

.profile-container {
    flex: 1;
    background-color: #FFF;
    border-radius: 20px; 
}

.user-none {
    text-align: center; 
    font-size: 1.125rem; 
    margin-top: 1rem; 
}

.user-image {
    position: relative;
    
}

.user-coverImg {
    height: 13rem; 
    width: 100%; 
    object-fit: cover; 
}

.set-cover {
    position: absolute;
    top: 0.5rem; 
    right: 0.5rem; 
    border-radius: 50%; 
    background-color: rgba(128, 128, 128, 0.75); 
    padding: 0.5rem; 
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s; 
}

.set-cover-icon{
    width: 1.5rem;
    height: 1.5rem;
}

.user-image:hover .set-cover {
    opacity: 1;
}

.user-avatar {
    position: absolute;
    bottom: -4rem; 
    left: 2rem;
}


.user-avatar .avatarImg {
    width: 8rem; 
    height: 8rem;
    border-radius: 50%; 
}

.set-avatar {
    position: absolute;
    top: 0.25rem; 
    right: 1rem; 
    background-color: #3B82F6; 
    border-radius: 50%;
    padding: 0.25rem; 
    opacity: 0; 
    transition: opacity 0.2s; 
}
.set-avatar-icon{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.user-avatar:hover .set-avatar {
    opacity: 1; 
}

.profile-btn {
    display: flex;
    justify-content: flex-end;  
    margin-top: 1.25rem;    
}

.profile-follow-btn {
    color: #FFF;
    border: 1px solid #4B5563; 
    border-radius: 20px; 
    padding: 0.5rem 1rem;
    cursor: pointer; 
    margin-right: 10px;
    transition: ease-in 0.2s;
}

.profile-update-btn {
    background-color: #2371ee;
    color: white; 
    border-radius: 20px; 
    padding: 0.5rem 1rem; 
    margin-left: 0.75rem; 
    margin-right: 0.75rem; 
    cursor: pointer; 
}

.profile-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem; 
    background-color: #FFF;
    border-radius: 20px;
}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.own-nickName {
    font-weight: bold; 
    font-size: 1.25rem; 
}

.own-username {
    font-size: 0.875rem; 
    color: #4B5563; 
}

.user-follow {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    margin-top: 1rem; 
}

.following,
.follower,
.user-post {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.following-count,
.follower-count,
.post-count {
    font-weight: bold; 
    font-size: 1.5rem; 
}

.follow-text,
.post-text {
    color: #4B5563; 
    font-size: 1rem;
}

.profile-post {
    display: flex;
    border-bottom: 1px solid #4B5563; 
    margin-top: 1rem; 
}

.own-posts,
.own-liked {
    flex: 1;
    padding: 0.75rem; 
    cursor: pointer; 
    text-align: center; 
    transition: background-color 0.3s;
    border-radius: 0px 0px 20px 20px;
    position: relative;
}

.own-posts:hover,
.own-liked:hover {
    background-color: #8d8888;
}

.post-border {
    position: absolute;
    bottom: 0;
    left: 9rem;
    width: 2.5rem; 
    height: 0.25rem;
    border-radius: 30px; 
    background-color: #3B82F6; 
}